*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "Roboto Regular";
  font-size: 16px;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.flex-center, .landing, .landing__wrapper, .join, .join__container, .join__form, .join__success, .login, .login__form, .header__dashboard, .menu__wrapper, .menu__options, .calendar, .calendar__date, .calendar__doing, .profile, .profile__info, .update, .house, .house__container, .house__list, .house__pop-up, .house__pop-up--select, .wall, .wall__wrapper, .wall__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing {
  margin: 0 auto;
  padding: 2rem 1rem;
  height: 100%;
}

@media (min-width: 768px) {
  .landing {
    padding: 5rem;
  }
}

.landing__title {
  font-family: "Roboto Slab Bold";
  margin: 0 0 2rem 0;
  color: #274c77;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .landing__title {
    font-size: 4rem;
  }
}

.landing__logo {
  width: 5rem;
  height: 5rem;
  margin: 0 0 2rem 0;
}

@media (min-width: 768px) {
  .landing__logo {
    width: 8rem;
    height: 8rem;
  }
}

.landing__description {
  color: #ef8354;
  margin: 0 0 2rem 0;
  font-family: "Roboto Slab Medium";
}

@media (min-width: 768px) {
  .landing__description {
    font-size: 2rem;
  }
}

.landing__wrapper {
  width: 50%;
}

.landing__link {
  margin: 0 0 1rem 0;
}

.landing__btn {
  padding: 0.5rem 1rem;
  width: 10rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #274c77;
  background-color: #274c77;
  color: #ffffff;
  -webkit-box-shadow: 0 5px 5px 0 #edeff5;
          box-shadow: 0 5px 5px 0 #edeff5;
}

.landing__btn:hover {
  border: 2px solid #ef8354;
  background-color: #ef8354;
}

@media (min-width: 768px) {
  .landing__btn {
    width: 14rem;
    height: 3rem;
    font-size: 1.25rem;
  }
}

.join {
  padding: 3rem 1rem;
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .join {
    padding: 5rem;
  }
}

.join__cta, .join__btn {
  padding: 0.5rem 1rem;
  width: 13rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #274c77;
  background-color: #274c77;
  color: #ffffff;
  margin: 0 0 2rem 0;
  -webkit-box-shadow: 0 5px 5px 0 #edeff5;
          box-shadow: 0 5px 5px 0 #edeff5;
}

.join__cta:hover, .join__btn:hover {
  border: 2px solid #ef8354;
  background-color: #ef8354;
}

@media (min-width: 768px) {
  .join__cta, .join__btn {
    width: 18rem;
    height: 3.5rem;
    font-size: 1.25rem;
  }
}

.join__cta--cancel, .join__btn--cancel {
  width: 13rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #ef8354;
  margin: 0 0 2rem 0;
}

@media (min-width: 768px) {
  .join__cta--cancel, .join__btn--cancel {
    width: 14rem;
    height: 3rem;
    font-size: 1.25rem;
  }
}

.join__btn-link-cancel {
  margin: 0;
}

.join__container {
  display: none;
  padding: 0 1rem;
  width: 100%;
  border-radius: 4px;
  height: 100%;
}

.join__title {
  color: #274c77;
  font-family: "Roboto Slab Bold";
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 768px) {
  .join__title {
    font-size: 2rem;
  }
}

.join__input {
  width: 13rem;
  border-radius: 4px;
  margin: 0 0 1.5rem 0;
  border-style: none;
  border: 2px solid #274c77;
  padding: 0.5rem;
  outline: none;
}

.join__input:focus {
  border: 2px solid #ef8354;
}

@media (min-width: 768px) {
  .join__input {
    width: 18rem;
    height: 3rem;
  }
}

.join__success {
  padding: 1rem;
  width: 12rem;
  height: 13.5rem;
  background-color: #274c77;
  display: none;
  position: fixed;
  right: 4rem;
  top: 8rem;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 5px 0 #edeff5;
          box-shadow: 0 5px 5px 0 #edeff5;
}

.join__success--title {
  font-family: "Roboto Medium";
  font-size: 0.75rem;
  color: #ffffff;
  margin: 0 0 1rem 0;
  text-align: center;
}

.join__success--btn {
  padding: 0.5rem 1rem;
  width: 8rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  background-color: #ef8354;
  border: 2px solid #ef8354;
  color: #ffffff;
  margin: 0 0 1rem 0;
  -webkit-box-shadow: 0 5px 5px 0 #274c77;
          box-shadow: 0 5px 5px 0 #274c77;
  font-size: 0.7rem;
}

.join__success--btn:hover {
  background-color: #ffffff;
  color: #ef8354;
  border: 2px solid #ffffff;
}

.login {
  padding: 2rem 1rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .login {
    padding: 5rem;
  }
}

.login__title {
  color: #274c77;
  font-family: "Roboto Medium";
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

@media (min-width: 768px) {
  .login__title {
    font-size: 2rem;
  }
}

.login__input {
  width: 13rem;
  border-radius: 4px;
  margin: 0 0 1.5rem 0;
  border-style: none;
  border: 2px solid #274c77;
  padding: 0.5rem;
  outline: none;
}

.login__input:focus {
  border: 2px solid #ef8354;
}

@media (min-width: 768px) {
  .login__input {
    width: 18rem;
    height: 3rem;
  }
}

.login__cta--btn {
  padding: 0.5rem 1rem;
  width: 13rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #274c77;
  background-color: #274c77;
  color: #ffffff;
  margin: 0 0 1rem 0;
  -webkit-box-shadow: 0 5px 5px 0 #edeff5;
          box-shadow: 0 5px 5px 0 #edeff5;
}

.login__cta--btn:hover {
  border: 2px solid #ef8354;
  background-color: #ef8354;
}

@media (min-width: 768px) {
  .login__cta--btn {
    width: 18rem;
    height: 3.5rem;
    font-size: 1.25rem;
  }
}

.login__cta--cancel {
  width: 13rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #ef8354;
  margin: 0 0 2rem 0;
}

@media (min-width: 768px) {
  .login__cta--cancel {
    width: 18rem;
    height: 3rem;
    font-size: 1.25rem;
  }
}

.header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 8px 6px -6px #edeff5;
          box-shadow: 0 8px 6px -6px #edeff5;
  border-radius: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 19rem;
  height: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .header {
    width: 30rem;
    max-width: 48rem;
    height: 5rem;
  }
}

.header__wall--icon {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 768px) {
  .header__wall--icon {
    width: 3rem;
    height: 3rem;
  }
}

.header__dashboard--icon {
  width: 2.5rem;
  height: 2.5rem;
}

@media (min-width: 768px) {
  .header__dashboard--icon {
    width: 3rem;
    height: 3rem;
  }
}

.header__dashboard--house-name {
  font-size: 0.5rem;
}

.header__cta {
  width: 1.5rem;
  height: 1.5rem;
  border-style: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
}

.header__cta--img {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 768px) {
  .header__cta--img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.menu {
  display: none;
  padding: 1rem 1rem;
  position: fixed;
  right: 0.5rem;
  top: 3.5rem;
  background-color: #274c77;
  height: 100%;
  width: 12rem;
}

@media (min-width: 768px) {
  .menu {
    width: 16rem;
    right: 8rem;
    top: 5rem;
    padding: 2.5rem 1rem;
  }
}

.menu__wrapper {
  margin: 0 0 2rem 0;
}

.menu__wrapper--icon {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 768px) {
  .menu__wrapper--icon {
    width: 3rem;
    height: 3rem;
  }
}

.menu__wrapper--user-name {
  color: #edeff5;
  font-family: "Roboto Slab Medium";
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .menu__wrapper--user-name {
    font-size: 2.5rem;
  }
}

.menu__options--link {
  margin: 0 0 1rem 0;
}

.menu__options--btn {
  padding: 0.5rem 1rem;
  width: 8rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-style: none;
  outline: none;
  border-bottom: 2px solid #ffffff;
  background-color: #274c77;
  color: #ffffff;
  font-size: 1rem;
}

.menu__options--btn:hover {
  background-color: #ffffff;
  color: #274c77;
}

@media (min-width: 768px) {
  .menu__options--btn {
    font-size: 1.25rem;
  }
}

.calendar {
  margin: 1rem auto 0 auto;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  padding: 1rem;
  background-color: #ffffff;
  max-width: 23.5rem;
}

@media (min-width: 768px) {
  .calendar {
    max-width: 48rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.calendar__description {
  margin: 0 auto 1.5rem auto;
  color: #ef8354;
  font-family: "Roboto Bold";
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .calendar__description {
    font-size: 2.5rem;
    margin: 0 auto 2rem auto;
  }
}

.calendar__activity-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 0 1.5rem 0;
}

@media (min-width: 768px) {
  .calendar__activity-wrapper {
    width: 25rem;
  }
}

.calendar__date {
  border: 1px solid #274c77;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-family: "Roboto Bold";
  color: #ef8354;
  -webkit-box-shadow: 0 5px 5px 0 #edeff5;
          box-shadow: 0 5px 5px 0 #edeff5;
}

@media (min-width: 768px) {
  .calendar__date {
    width: 4rem;
    height: 4rem;
  }
}

.calendar__date--dotw {
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .calendar__date--dotw {
    font-size: 1rem;
  }
}

.calendar__date--day {
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .calendar__date--day {
    font-size: 1rem;
  }
}

.calendar__doing {
  width: 60%;
  margin: 0 0 0 0.5rem;
}

.calendar__doing--description {
  height: 3rem;
  width: 10rem;
  font-size: 0.9rem;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  background-color: #274c77;
  color: #edeff5;
  margin: 0 0 0.5rem 0;
  -webkit-box-shadow: 0 5px 5px 0 #edeff5;
          box-shadow: 0 5px 5px 0 #edeff5;
}

@media (min-width: 768px) {
  .calendar__doing--description {
    width: 15rem;
    font-size: 1.25rem;
    height: 4rem;
  }
}

.profile {
  background-color: #ffffff;
  padding: 2rem 1rem;
  margin: 1rem auto 0 auto;
}

@media (min-width: 768px) {
  .profile {
    width: 30rem;
    max-width: 48rem;
  }
}

.profile__info {
  margin: 0 0 2rem 0;
}

.profile__info--user-icon {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 768px) {
  .profile__info--user-icon {
    width: 3rem;
    height: 3rem;
  }
}

.profile__info--user-name {
  font-family: "Roboto Slab Bold";
  color: #274c77;
}

@media (min-width: 768px) {
  .profile__info--user-name {
    font-size: 2.5rem;
  }
}

.update__input {
  width: 12rem;
  border-radius: 4px;
  margin: 0 0 1rem 0;
  border-style: none;
  border: 2px solid #274c77;
  padding: 0.5rem;
  outline: none;
  -webkit-box-shadow: 0 5px 5px 0 #edeff5;
          box-shadow: 0 5px 5px 0 #edeff5;
}

.update__input:focus {
  border: 2px solid #ef8354;
}

@media (min-width: 768px) {
  .update__input {
    width: 18rem;
    height: 3rem;
    font-size: 1rem;
  }
}

.update__btn {
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 0;
  width: 12rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #274c77;
  background-color: #274c77;
  color: #ffffff;
  -webkit-box-shadow: 0 5px 5px 0 #edeff5;
          box-shadow: 0 5px 5px 0 #edeff5;
}

.update__btn:hover {
  border: 2px solid #ef8354;
  background-color: #ef8354;
}

@media (min-width: 768px) {
  .update__btn {
    width: 18rem;
    height: 3.5rem;
    font-size: 1.25rem;
  }
}

.house {
  background-color: #ffffff;
  padding: 0 1rem;
  margin: 1rem auto 0 auto;
  max-width: 23.5rem;
}

@media (min-width: 768px) {
  .house {
    width: 30rem;
    max-width: 48rem;
  }
}

.house__title {
  font-family: "Roboto Slab Bold";
  font-size: 2rem;
  margin: 0 0 1rem 0;
  color: #274c77;
}

@media (min-width: 768px) {
  .house__title {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .house__container {
    width: 25rem;
  }
}

.house__icon {
  width: 3rem;
  height: 3rem;
  margin: 0 0 1rem 0;
}

@media (min-width: 768px) {
  .house__icon {
    width: 4rem;
    height: 4rem;
  }
}

.house__todo {
  color: #274c77;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  font-family: "Roboto Medium";
}

@media (min-width: 768px) {
  .house__todo {
    font-size: 2rem;
  }
}

.house__description {
  color: #274c77;
  margin: 0 0 2rem 0;
  font-size: 0.7rem;
  width: 9rem;
  text-align: center;
}

@media (min-width: 768px) {
  .house__description {
    font-size: 1.25rem;
    width: 12rem;
  }
}

.house__list {
  list-style: none;
}

.house__activity--btn {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  width: 12rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #ef8354;
  background-color: #ef8354;
  color: #ffffff;
  margin: 0 0 1rem 0;
}

.house__activity--btn:hover {
  border: 2px solid #274c77;
  background-color: #274c77;
}

@media (min-width: 768px) {
  .house__activity--btn {
    width: 15rem;
    height: 3rem;
    font-size: 1.25rem;
  }
}

.house__pop-up {
  padding: 1rem;
  width: 12rem;
  height: 13.5rem;
  background-color: #274c77;
  display: none;
  position: fixed;
  right: 5.75rem;
  top: 8rem;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 5px 0 #edeff5;
          box-shadow: 0 5px 5px 0 #edeff5;
}

@media (min-width: 768px) {
  .house__pop-up {
    right: 15.75rem;
    width: 16.5rem;
    height: 20rem;
  }
}

.house__pop-up--title {
  font-family: "Roboto Medium";
  font-size: 0.75rem;
  color: #ffffff;
  margin: 0 0 1rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  .house__pop-up--title {
    font-size: 1.25rem;
    margin: 0 0 1.5rem 0;
  }
}

.house__pop-up--selected-activity {
  color: #ef8354;
}

.house__pop-up--options {
  padding: 0.5rem;
  width: 8rem;
  font-size: 0.6rem;
  margin: 0 0 1rem 0;
  outline: none;
}

@media (min-width: 768px) {
  .house__pop-up--options {
    width: 12rem;
    font-size: 1rem;
    margin: 0 0 1.5rem 0;
  }
}

.house__pop-up--btn {
  padding: 0.5rem 1rem;
  width: 8rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  background-color: #ef8354;
  border: 2px solid #ef8354;
  color: #ffffff;
  margin: 0 0 1rem 0;
  -webkit-box-shadow: 0 5px 5px 0 #274c77;
          box-shadow: 0 5px 5px 0 #274c77;
  font-size: 0.7rem;
}

.house__pop-up--btn:hover {
  background-color: #ffffff;
  color: #ef8354;
  border: 2px solid #ffffff;
}

@media (min-width: 768px) {
  .house__pop-up--btn {
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
  }
}

.house__pop-up--cancel {
  width: 8rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #274c77;
  background-color: #274c77;
  color: #ef8354;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
}

.house__pop-up--cancel:hover {
  color: #ffffff;
}

@media (min-width: 768px) {
  .house__pop-up--cancel {
    width: 12rem;
    height: 3rem;
    font-size: 1.1rem;
  }
}

.wall {
  margin: 0 auto;
  padding: 2rem 2rem;
  height: 100%;
}

@media (min-width: 768px) {
  .wall {
    width: 30rem;
    max-width: 48rem;
  }
}

.wall__comment {
  width: 16rem;
  height: 4rem;
  border: 0.5px solid #274c77;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 1rem 0;
  -webkit-box-shadow: 0 5px 5px 0 #edeff5;
          box-shadow: 0 5px 5px 0 #edeff5;
}

@media (min-width: 768px) {
  .wall__comment {
    width: 18rem;
    height: 5rem;
  }
}

.wall__content {
  width: 70%;
  height: 80%;
  padding: 0.5rem;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .wall__content {
    font-size: 1rem;
  }
}

.wall__user-icon {
  width: 2rem;
  height: 2rem;
}

.wall__user-name {
  font-family: "Roboto Medium";
  color: #274c77;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .wall__user-name {
    font-size: 1rem;
  }
}

.wall__form {
  margin: 1rem 0 0 0;
}

.wall__input {
  width: 16rem;
  height: 4rem;
  font-family: "Roboto Regular";
  border-radius: 4px;
  margin: 0 0 1.5rem 0;
  border-style: none;
  border: 0.5px solid #ef8354;
  padding: 0.5rem;
  outline: none;
  resize: none;
  -webkit-box-shadow: 0 5px 5px 0 #edeff5;
          box-shadow: 0 5px 5px 0 #edeff5;
}

.wall__input:focus {
  border: 2px solid #ef8354;
}

@media (min-width: 768px) {
  .wall__input {
    width: 18rem;
    height: 5rem;
    font-size: 1rem;
  }
}

.wall__btn {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  width: 10rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #ef8354;
  background-color: #ef8354;
  color: #ffffff;
  margin: 0 0 1rem 0;
  -webkit-box-shadow: 0 5px 5px 0 #edeff5;
          box-shadow: 0 5px 5px 0 #edeff5;
}

.wall__btn:hover {
  border: 2px solid #274c77;
  background-color: #274c77;
}

@media (min-width: 768px) {
  .wall__btn {
    width: 18rem;
    height: 3rem;
    font-size: 1.25rem;
  }
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../../assets/fonts/roboto-regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../../assets/fonts/roboto-medium.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../../assets/fonts/roboto-bold.ttf");
}

@font-face {
  font-family: "Roboto Slab Regular";
  src: url("../../assets/fonts/robotoslab-regular.ttf");
}

@font-face {
  font-family: "Roboto Slab Medium";
  src: url("../../assets/fonts/robotoslab-medium.ttf");
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../../assets/fonts/robotoslab-bold.ttf");
}
/*# sourceMappingURL=main.css.map */