*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "Roboto Regular";
  font-size: 16px;
  background-color: #edeff5;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing {
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.landing__title {
  font-family: "Roboto Slab Bold";
  margin: 0 0 2rem 0;
  color: #274c77;
  font-size: 2.5rem;
}

.landing__logo {
  width: 5rem;
  height: 5rem;
  margin: 0 0 2rem 0;
}

.landing__description {
  color: #95469b;
  margin: 0 0 2rem 0;
  font-family: "Roboto Slab Medium";
}

.landing__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__link {
  margin: 0 0 1rem 0;
}

.landing__btn {
  padding: 0.5rem 1rem;
  width: 10rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #274c77;
  background-color: #274c77;
  color: #fafafa;
}

.landing__btn:focus {
  border: 2px solid #95469b;
  background-color: #95469b;
}

.landing__btn:hover {
  border: 2px solid #95469b;
  background-color: #95469b;
}

.join {
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.join__cta, .join__btn {
  padding: 0.5rem 1rem;
  width: 13rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #274c77;
  background-color: #274c77;
  color: #fafafa;
  margin: 0 0 2rem 0;
}

.join__cta:hover, .join__btn:hover {
  border: 2px solid #95469b;
  background-color: #95469b;
}

.join__cta--cancel, .join__btn--cancel {
  width: 13rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #edeff5;
  background-color: #edeff5;
  color: #95469b;
  margin: 0 0 2rem 0;
}

.join__btn-link-cancel {
  margin: 0;
}

.join__container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  width: 100%;
  border-radius: 4px;
  height: 100%;
}

.join__title {
  color: #274c77;
  font-family: "Roboto Slab Bold";
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0 1rem 0;
}

.join__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__input {
  width: 13rem;
  border-radius: 4px;
  margin: 0 0 1.5rem 0;
  border-style: none;
  border: 2px solid #274c77;
  padding: 0.5rem;
  outline: none;
}

.join__input:focus {
  border: 2px solid #95469b;
}

.login {
  background-color: #edeff5;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__title {
  color: #274c77;
  font-family: "Roboto Medium";
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__input {
  width: 13rem;
  border-radius: 4px;
  margin: 0 0 1.5rem 0;
  border-style: none;
  border: 2px solid #274c77;
  padding: 0.5rem;
  outline: none;
}

.login__input:focus {
  border: 2px solid #95469b;
}

.login__cta--btn {
  padding: 0.5rem 1rem;
  width: 13rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #274c77;
  background-color: #274c77;
  color: #fafafa;
  margin: 0 0 1rem 0;
}

.login__cta--btn:hover {
  border: 2px solid #95469b;
  background-color: #95469b;
}

.login__cta--cancel {
  width: 13rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #edeff5;
  background-color: #edeff5;
  color: #95469b;
  margin: 0 0 2rem 0;
}

.header {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #95469b;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20rem;
  background-color: #fafafa;
  height: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wall--icon {
  width: 2rem;
  height: 2rem;
}

.header__dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__dashboard--icon {
  width: 2rem;
  height: 2rem;
}

.header__dashboard--house-name {
  font-size: 0.5rem;
}

.header__cta {
  width: 1.5rem;
  height: 1.5rem;
  border-style: none;
  outline: none;
  background-color: #fafafa;
  cursor: pointer;
}

.header__cta--img {
  width: 1.5rem;
  height: 1.5rem;
}

.menu {
  display: none;
  padding: 1rem 1rem;
  position: fixed;
  right: 0;
  top: 3.5rem;
  background-color: #274c77;
  height: 100vh;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 2rem 0;
}

.menu__wrapper--icon {
  width: 2rem;
  height: 2rem;
}

.menu__wrapper--user-name {
  color: #edeff5;
  font-family: "Roboto Slab Medium";
}

.menu__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__options--link {
  margin: 0 0 1rem 0;
}

.menu__options--btn {
  padding: 0.5rem 1rem;
  width: 8rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-style: none;
  outline: none;
  border-bottom: 2px solid #fafafa;
  background-color: #274c77;
  color: #fafafa;
  font-size: 0.75rem;
}

.menu__options--btn:hover {
  background-color: #fafafa;
  color: #274c77;
}

.dashboard {
  background-color: #fafafa;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  background-color: #fafafa;
}

.calendar__description {
  margin: 0 auto 1rem auto;
  color: #95469b;
  font-family: "Roboto Medium";
}

.calendar__activity-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 0 2rem 0;
}

.calendar__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #95469b;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-family: "Roboto Medium";
  color: #95469b;
}

.calendar__date--dotw {
  font-size: 0.5rem;
}

.calendar__date--day {
  font-size: 0.5rem;
}

.calendar__doing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 0 0 0.5rem;
}

.calendar__doing--description {
  font-size: 0.75rem;
  border: 1px solid #274c77;
  border-radius: 4px;
  padding: 0.25rem;
  background-color: #274c77;
  color: #edeff5;
  margin: 0 0 0.5rem 0;
}

.profile {
  background-color: #fafafa;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 2rem 0;
}

.profile__info--user-icon {
  width: 2rem;
  height: 2rem;
}

.profile__info--user-name {
  font-family: "Roboto Slab Bold";
  color: #274c77;
}

.update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.update__input {
  width: 12rem;
  border-radius: 4px;
  margin: 0 0 1rem 0;
  border-style: none;
  border: 2px solid #274c77;
  padding: 0.5rem;
  outline: none;
}

.update__input:focus {
  border: 2px solid #95469b;
}

.update__btn {
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 0;
  width: 12rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #274c77;
  background-color: #274c77;
  color: #fafafa;
}

.update__btn:hover {
  border: 2px solid #95469b;
  background-color: #95469b;
}

.house {
  background-color: #fafafa;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.house__title {
  font-family: "Roboto Slab Bold";
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  color: #274c77;
}

.house__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.house__icon {
  width: 3rem;
  height: 3rem;
  margin: 0 0 1rem 0;
}

.house__todo {
  color: #274c77;
  font-size: 1.15rem;
  margin: 0 0 1rem 0;
  font-family: "Roboto Medium";
}

.house__description {
  color: #274c77;
  margin: 0 0 2rem 0;
  font-size: 0.7rem;
  width: 9rem;
  text-align: center;
}

.house__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.house__activity--btn {
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  width: 10rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #95469b;
  background-color: #95469b;
  color: #fafafa;
  margin: 0 0 1rem 0;
}

.house__activity--btn:hover {
  border: 2px solid #274c77;
  background-color: #274c77;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../../assets/fonts/roboto-regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../../assets/fonts/roboto-medium.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../../assets/fonts/roboto-bold.ttf");
}

@font-face {
  font-family: "Roboto Slab Regular";
  src: url("../../assets/fonts/robotoslab-regular.ttf");
}

@font-face {
  font-family: "Roboto Slab Medium";
  src: url("../../assets/fonts/robotoslab-medium.ttf");
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../../assets/fonts/robotoslab-bold.ttf");
}
/*# sourceMappingURL=main.css.map */