*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "Roboto Regular";
  font-size: 16px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing {
  background-color: #f3e9d2;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__title {
  font-family: "Roboto Slab Bold";
  margin: 0 0 2rem 0;
  color: #1a936f;
  font-size: 2.5rem;
}

.landing__logo {
  width: 5rem;
  height: 5rem;
  margin: 0 0 2rem 0;
}

.landing__description {
  color: #114b5f;
  margin: 0 0 2rem 0;
  font-family: "Roboto Slab Medium";
}

.landing__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__link {
  margin: 0 0 1rem 0;
}

.landing__btn {
  padding: 0.5rem 1rem;
  width: 10rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #114b5f;
  background-color: #c6dabf;
  color: #114b5f;
}

.landing__btn:focus {
  border: 2px solid #1a936f;
  background-color: #1a936f;
}

.landing__btn:hover {
  border: 2px solid #114b5f;
  background-color: #114b5f;
  color: #c6dabf;
}

.join {
  background-color: #f3e9d2;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__new-house, .join__connect {
  padding: 0.5rem 1rem;
  width: 13rem;
  font-family: "Roboto Medium";
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: none;
  border: 2px solid #114b5f;
  background-color: #c6dabf;
  color: #114b5f;
}

.join__new-house:focus, .join__connect:focus {
  border: 2px solid #1a936f;
  background-color: #1a936f;
}

.join__new-house:hover, .join__connect:hover {
  border: 2px solid #114b5f;
  background-color: #114b5f;
  color: #c6dabf;
}

.new-house,
.connect,
.connect__wrapper {
  padding: 2rem 1rem;
  margin: 1rem 0;
  border: 2px solid #114b5f;
  width: 100%;
  border-radius: 4px;
}

.new-house__title,
.connect__title {
  color: #114b5f;
  font-family: "Roboto Medium";
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

.new-house__form,
.connect__form,
.connect__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-house__form--house-name, .new-house__form--user-name, .new-house__form--email, .new-house__form--pass, .new-house__form--color, .new-house__form--icon {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../../assets/fonts/roboto-regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../../assets/fonts/roboto-medium.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../../assets/fonts/roboto-bold.ttf");
}

@font-face {
  font-family: "Roboto Slab Regular";
  src: url("../../assets/fonts/robotoslab-regular.ttf");
}

@font-face {
  font-family: "Roboto Slab Medium";
  src: url("../../assets/fonts/robotoslab-medium.ttf");
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../../assets/fonts/robotoslab-bold.ttf");
}
/*# sourceMappingURL=main.css.map */