// Calendar Component Styles

.calendar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $white;

  &__description {
    margin: 0 auto 1rem auto;
    color: $highlight;
    font-family: $bold;
  }

  &__activity-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 0 0 2rem 0;
  }
  &__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $primary;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-family: $bold;
    color: $highlight;
    box-shadow: 0 5px 5px 0 $background-primary;

    &--dotw {
      font-size: 0.5rem;
    }

    &--day {
      font-size: 0.5rem;
    }
  }

  &__doing {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 0 0 0.5rem;

    &--description {
      font-size: 0.75rem;
      border-radius: 4px;
      padding: 0.25rem;
      background-color: $primary;
      color: $background-primary;
      margin: 0 0 0.5rem 0;
      box-shadow: 0 5px 5px 0 $background-primary;
    }
  }
}
