// Header Component Styles

.header {
  margin: 0 auto;
  display: flex;
  box-shadow: 0 8px 6px -6px $background-primary;
  border-radius: 4px;
  justify-content: space-between;
  width: 19rem;
  height: 3.5rem;
  align-items: center;

  @include tablet {
    width: 30rem;
    max-width: 48rem;
    height: 5rem;
  }

  &__wall {
    &--icon {
      width: 2rem;
      height: 2rem;

      @include tablet {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &__dashboard {
    @extend .flex-center;

    &--icon {
      width: 2.5rem;
      height: 2.5rem;

      @include tablet {
        width: 3rem;
        height: 3rem;
      }
    }

    &--house-name {
      font-size: 0.5rem;
    }
  }

  &__cta {
    width: 1.5rem;
    height: 1.5rem;
    border-style: none;
    outline: none;
    background-color: $white;
    cursor: pointer;
    &--img {
      width: 1.5rem;
      height: 1.5rem;

      @include tablet {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

// Menu Styles

.menu {
  display: none;
  padding: 1rem 1rem;
  position: fixed;
  right: 0.5rem;
  top: 3.5rem;
  background-color: $primary;
  height: 100%;
  width: 12rem;

  @include tablet {
    width: 16rem;
    right: 8rem;
    top: 5rem;
    padding: 2.5rem 1rem;
  }

  &__wrapper {
    @extend .flex-center;
    margin: 0 0 2rem 0;
    &--icon {
      width: 2rem;
      height: 2rem;

      @include tablet {
        width: 3rem;
        height: 3rem;
      }
    }
    &--user-name {
      color: $background-primary;
      font-family: $slab-medium;
      font-size: 1.5rem;

      @include tablet {
        font-size: 2.5rem;
      }
    }
  }

  &__options {
    @extend .flex-center;

    &--link {
      margin: 0 0 1rem 0;
    }
    &--btn {
      padding: 0.5rem 1rem;
      width: 8rem;
      font-family: $medium;
      cursor: pointer;
      border-style: none;
      outline: none;
      border-bottom: 2px solid $white;
      background-color: $primary;
      color: $white;
      font-size: 1rem;

      &:hover {
        background-color: $white;
        color: $primary;
      }

      @include tablet {
        font-size: 1.25rem;
      }
    }
  }
}
