// House Component Styles

.house {
  background-color: $white;
  padding: 0 1rem;
  @extend .flex-center;
  margin: 1rem auto 0 auto;
  max-width: 23.5rem;

  @include tablet {
    width: 30rem;
    max-width: 48rem;
  }

  &__title {
    font-family: $slab-bold;
    font-size: 2rem;
    margin: 0 0 1rem 0;
    color: $primary;

    @include tablet {
      font-size: 3rem;
    }
  }

  &__container {
    @extend .flex-center;

    @include tablet {
      width: 25rem;
    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    margin: 0 0 1rem 0;

    @include tablet {
      width: 4rem;
      height: 4rem;
    }
  }

  &__todo {
    color: $primary;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    font-family: $medium;

    @include tablet {
      font-size: 2rem;
    }
  }
  &__description {
    color: $primary;
    margin: 0 0 2rem 0;
    font-size: 0.7rem;
    width: 9rem;
    text-align: center;

    @include tablet {
      font-size: 1.25rem;
      width: 12rem;
    }
  }

  &__list {
    list-style: none;
    @extend .flex-center;
  }

  &__activity {
    &--btn {
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
      width: 12rem;
      font-family: $medium;
      cursor: pointer;
      border-radius: 4px;
      border-style: none;
      outline: none;
      border: 2px solid $highlight;
      background-color: $highlight;
      color: $white;
      margin: 0 0 1rem 0;

      &:hover {
        border: 2px solid $primary;
        background-color: $primary;
      }

      @include tablet {
        width: 15rem;
        height: 3rem;
        font-size: 1.25rem;
      }
    }
  }

  &__pop-up {
    padding: 1rem;
    width: 12rem;
    height: 13.5rem;
    background-color: $primary;
    @extend .flex-center;
    display: none;
    position: fixed;
    right: 5.75rem;
    top: 8rem;
    border-radius: 4px;
    box-shadow: 0 5px 5px 0 $background-primary;

    @include tablet {
      right: 15.75rem;
      width: 16.5rem;
      height: 20rem;
    }

    &--title {
      font-family: $medium;
      font-size: 0.75rem;
      color: $white;
      margin: 0 0 1rem 0;
      text-align: center;

      @include tablet {
        font-size: 1.25rem;
        margin: 0 0 1.5rem 0;
      }
    }

    &--selected-activity {
      color: $highlight;
    }

    &--options {
      padding: 0.5rem;
      width: 8rem;
      font-size: 0.6rem;
      margin: 0 0 1rem 0;
      outline: none;

      @include tablet {
        width: 12rem;
        font-size: 1rem;
        margin: 0 0 1.5rem 0;
      }
    }

    &--select {
      @extend .flex-center;
    }

    &--btn {
      padding: 0.5rem 1rem;
      width: 8rem;
      font-family: $medium;
      cursor: pointer;
      border-radius: 4px;
      border-style: none;
      outline: none;
      background-color: $highlight;
      border: 2px solid $highlight;
      color: $white;
      margin: 0 0 1rem 0;
      box-shadow: 0 5px 5px 0 $primary;
      font-size: 0.7rem;

      &:hover {
        background-color: $white;
        color: $highlight;
        border: 2px solid $white;
      }

      @include tablet {
        width: 12rem;
        height: 3rem;
        font-size: 1rem;
      }
    }

    &--cancel {
      width: 8rem;
      font-family: $medium;
      cursor: pointer;
      border-radius: 4px;
      border-style: none;
      outline: none;
      border: 2px solid $primary;
      background-color: $primary;
      color: $highlight;
      padding: 0.5rem 1rem;
      font-size: 0.7rem;

      &:hover {
        color: $white;
      }

      @include tablet {
        width: 12rem;
        height: 3rem;
        font-size: 1.1rem;
      }
    }
  }
}
