.join {
  background-color: $background-primary;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__cta {
    padding: 0.5rem 1rem;
    width: 13rem;
    font-family: $medium;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
    outline: none;
    border: 2px solid $highlight;
    background-color: $light-green;
    color: $highlight;

    &:focus {
      border: 2px solid $primary;
      background-color: $primary;
    }
    &:hover {
      border: 2px solid $highlight;
      background-color: $highlight;
      color: $light-green;
    }
  }

  &__container {
    padding: 2rem 1rem;
    margin: 1rem 0;
    border: 2px solid $highlight;
    width: 100%;
    border-radius: 4px;
  }

  &__title {
    color: $highlight;
    font-family: $medium;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
  }
}
