// Profile Component Styles

.profile {
  background-color: $white;
  padding: 2rem 1rem;
  @extend .flex-center;
  margin: 1rem auto 0 auto;

  @include tablet {
    width: 30rem;
    max-width: 48rem;
  }

  &__info {
    @extend .flex-center;
    margin: 0 0 2rem 0;

    &--user-icon {
      width: 2rem;
      height: 2rem;

      @include tablet {
        width: 3rem;
        height: 3rem;
      }
    }

    &--user-name {
      font-family: $slab-bold;
      color: $primary;

      @include tablet {
        font-size: 2.5rem;
      }
    }
  }
}

// Update Profile Styles

.update {
  @extend .flex-center;

  &__input {
    width: 12rem;
    border-radius: 4px;
    margin: 0 0 1rem 0;
    border-style: none;
    border: 2px solid $primary;
    padding: 0.5rem;
    outline: none;
    box-shadow: 0 5px 5px 0 $background-primary;
    &:focus {
      border: 2px solid $highlight;
    }

    @include tablet {
      width: 18rem;
      height: 3rem;
      font-size: 1rem;
    }
  }

  &__btn {
    padding: 0.5rem 1rem;
    margin: 0 0 1rem 0;
    width: 12rem;
    font-family: $medium;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
    outline: none;
    border: 2px solid $primary;
    background-color: $primary;
    color: $white;
    box-shadow: 0 5px 5px 0 $background-primary;

    &:hover {
      border: 2px solid $highlight;
      background-color: $highlight;
    }

    @include tablet {
      width: 18rem;
      height: 3.5rem;
      font-size: 1.25rem;
    }
  }
}
