// Profile Component Styles

.profile {
  background-color: $white;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 0 0 2rem 0;

    &--user-icon {
      width: 2rem;
      height: 2rem;
    }

    &--user-name {
      font-family: $slab-bold;
      color: $primary;
    }
  }
}

// Update Profile Styles

.update {
  display: flex;
  flex-direction: column;

  &__input {
    width: 12rem;
    border-radius: 4px;
    margin: 0 0 1rem 0;
    border-style: none;
    border: 2px solid $primary;
    padding: 0.5rem;
    outline: none;
    box-shadow: 0 5px 5px 0 $background-primary;
    &:focus {
      border: 2px solid $highlight;
    }
  }

  &__btn {
    padding: 0.5rem 1rem;
    margin: 0 0 1rem 0;
    width: 12rem;
    font-family: $medium;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
    outline: none;
    border: 2px solid $primary;
    background-color: $primary;
    color: $white;
    box-shadow: 0 5px 5px 0 $background-primary;

    &:hover {
      border: 2px solid $highlight;
      background-color: $highlight;
    }
  }
}
