$primary: #274c77;
$highlight: #ef8354;
$background-primary: #edeff5;
$white: #ffffff;
$black: #000000;
$yellow: #ffd23f;
$green: #0ead69;
$coral: #f08080;
$lilac: #9d8189;
$desktop-width: 1440px;
$tablet-width: 768px;
