$primary: #1a936f;
$highlight: #114b5f;
$background-primary: #f3e9d2;
$light-green: #c6dabf;
$btn: #9f6976;
$btn-hover: #714674;
$white: #fafafa;
$dashboard-bg: #457b9d;
$desktop-width: 1440px;
$tablet-width: 768px;
