$primary: #274c77;
$highlight: #95469b;
$background-primary: #edeff5;
$white: #fafafa;
$user1: #ffd23f;
$user2: #0ead69;
$user3: #f08080;
$user4: #9d8189;
$desktop-width: 1440px;
$tablet-width: 768px;
